.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.kmkmkm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 50px;
  margin-right: 0px;
  width: 100%;
  justify-self: center;
  min-width: 0;
}
.img > picture > img {
  object-fit: cover;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.conditionGuard:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
