@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-R9hF794-YmVJ: 16px;
  --plasmic-token-h-2: var(--token-R9hF794-YmVJ);
  --token-WWObjB2535KE: #2a2b37;
  --plasmic-token-neutral-900: var(--token-WWObjB2535KE);
  --token-QXx9krAX0EVB: #383848;
  --plasmic-token-neutral-800: var(--token-QXx9krAX0EVB);
  --token-usgls6P0cWQ6: #48485c;
  --plasmic-token-neutral-700: var(--token-usgls6P0cWQ6);
  --token-XBldpnJXCJbQ: #5c5d76;
  --plasmic-token-neutral-600: var(--token-XBldpnJXCJbQ);
  --token-rYQtGrnVp98x: #656682;
  --plasmic-token-neutral-500: var(--token-rYQtGrnVp98x);
  --token-eR2IRWbTQ3MJ: #84859b;
  --plasmic-token-neutral-400: var(--token-eR2IRWbTQ3MJ);
  --token-MvhYmHmpABn-: #9898ab;
  --plasmic-token-neutral-300: var(--token-MvhYmHmpABn-);
  --token-6Xq5Tr7-O0ps: #b8b9c6;
  --plasmic-token-neutral-200: var(--token-6Xq5Tr7-O0ps);
  --token-EtP8Ea5M0uap: #cfd0d8;
  --plasmic-token-neutral-100: var(--token-EtP8Ea5M0uap);
  --token-R5b5e7OLARhH: #f0f0f3;
  --plasmic-token-neutral-050: var(--token-R5b5e7OLARhH);
  --token-XQuShR_eXifF: 14px;
  --plasmic-token-body-small: var(--token-XQuShR_eXifF);
  --token-hfNIWJK3m6H3: 20px;
  --plasmic-token-body-small-2: var(--token-hfNIWJK3m6H3);
  --token-LOPsYjQkSCtD: #01471e;
  --plasmic-token-success-text: var(--token-LOPsYjQkSCtD);
  --token-bY8Hnwt_feE2: #dffbea;
  --plasmic-token-success-bg: var(--token-bY8Hnwt_feE2);
  --token-jqwovsYQHDrr: #aff5cb;
  --plasmic-token-success-200: var(--token-jqwovsYQHDrr);
  --token-SyhXjleHyulr: #87efb1;
  --plasmic-token-success-300: var(--token-SyhXjleHyulr);
  --token-wyX_-7FhH1ho: #5fea97;
  --plasmic-token-success-400: var(--token-wyX_-7FhH1ho);
  --token-k3Afc-RY-ypN: #37e57d;
  --plasmic-token-success-500: var(--token-k3Afc-RY-ypN);
  --token-CWB6RFt9-eDH: #24bf63;
  --plasmic-token-success-600: var(--token-CWB6RFt9-eDH);
  --token-oqhEvmHVOW_M: #159649;
  --plasmic-token-success-700: var(--token-oqhEvmHVOW_M);
  --token-SYhoZ9tLARzV: #096e32;
  --plasmic-token-success-800: var(--token-SYhoZ9tLARzV);
  --token-MIjus04DxPU8: #d7faf8;
  --plasmic-token-secondary-100: var(--token-MIjus04DxPU8);
  --token-c1T7sjrsxv5H: #aff5f0;
  --plasmic-token-secondary-200: var(--token-c1T7sjrsxv5H);
  --token-HPKTwaDzCaot: #87efe8;
  --plasmic-token-secondary-300: var(--token-HPKTwaDzCaot);
  --token-evYZY9rbFdVn: #5feae1;
  --plasmic-token-secondary-400: var(--token-evYZY9rbFdVn);
  --token-xAJPUOEE-fNM: #37e5db;
  --plasmic-token-secondary-500: var(--token-xAJPUOEE-fNM);
  --token-zBpwnPqhIAsD: #24bfb5;
  --plasmic-token-secondary-600: var(--token-zBpwnPqhIAsD);
  --token-p2DmEjzQ6oF8: #15968e;
  --plasmic-token-secondary-700: var(--token-p2DmEjzQ6oF8);
  --token-Grlu8tn8wTCF: #096e67;
  --plasmic-token-secondary-800: var(--token-Grlu8tn8wTCF);
  --token-igxDLahL6Xbw: #014743;
  --plasmic-token-secondary-900: var(--token-igxDLahL6Xbw);
  --token-rIYLVQzUzilD: #d8d8fa;
  --plasmic-token-primary-100: var(--token-rIYLVQzUzilD);
  --token-5TU7GW3lxFRb: #b0b1f4;
  --plasmic-token-primary-200: var(--token-5TU7GW3lxFRb);
  --token-edImZnz77D7l: #898bef;
  --plasmic-token-primary-300: var(--token-edImZnz77D7l);
  --token-X9UuGSZsNZFm: #4c4ea66b;
  --plasmic-token-primary-400: var(--token-X9UuGSZsNZFm);
  --token-VfZOWsnWkuGL: #3a3de4;
  --plasmic-token-primary-500: var(--token-VfZOWsnWkuGL);
  --token-eVEkRjWLurlr: #2225bf;
  --plasmic-token-primary-600: var(--token-eVEkRjWLurlr);
  --token-Uo_0tMHKsE6A: #141696;
  --plasmic-token-primary-700: var(--token-Uo_0tMHKsE6A);
  --token-kce4P9CTmbNm: #08096e;
  --plasmic-token-primary-800: var(--token-kce4P9CTmbNm);
  --token-iTRBwbInrXbL: #3e0d64;
  --plasmic-token-primary-900: var(--token-iTRBwbInrXbL);
  --token-Q1qQxY_pDPq2: #f2f3fd;
  --plasmic-token-primary-050: var(--token-Q1qQxY_pDPq2);
  --token-cKU7bCe0GkmD: #faf6d7;
  --plasmic-token-warning-100: var(--token-cKU7bCe0GkmD);
  --token-L5-y9ADqwqYY: #f5eeaf;
  --plasmic-token-warning-200: var(--token-L5-y9ADqwqYY);
  --token-uyaxh5xj4kI9: #efe587;
  --plasmic-token-warning-300: var(--token-uyaxh5xj4kI9);
  --token-EkhsJrjCk7JN: #eadd5f;
  --plasmic-token-warning-400: var(--token-EkhsJrjCk7JN);
  --token-xqeNJU-rA7KH: #e5d437;
  --plasmic-token-warning-500: var(--token-xqeNJU-rA7KH);
  --token-_iMg6KGtBDIz: #bfb024;
  --plasmic-token-warning-600: var(--token-_iMg6KGtBDIz);
  --token-9XnJFGTPoArB: #998c15;
  --plasmic-token-warning-700: var(--token-9XnJFGTPoArB);
  --token-ny_WB5qOip5i: #6e6408;
  --plasmic-token-warning-800: var(--token-ny_WB5qOip5i);
  --token-LWy7FZ3iF9v0: #383302;
  --plasmic-token-warning-900: var(--token-LWy7FZ3iF9v0);
  --token-_6-yIsB6_--s: #fad7d7;
  --plasmic-token-danger-100: var(--token-_6-yIsB6_--s);
  --token-06-5V-g9qppd: #f18787;
  --plasmic-token-danger-300: var(--token-06-5V-g9qppd);
  --token-rmEM5hyAcCsv: #f6afaf;
  --plasmic-token-danger-200: var(--token-rmEM5hyAcCsv);
  --token-PyNdxacGM7f8: #ed6060;
  --plasmic-token-danger-400: var(--token-PyNdxacGM7f8);
  --token-w0R0mUpeX1oV: #e83838;
  --plasmic-token-danger-500: var(--token-w0R0mUpeX1oV);
  --token-V3Iu2FyIVuLD: #c22525;
  --plasmic-token-danger-600: var(--token-V3Iu2FyIVuLD);
  --token-UjEHM7YNCJtR: #9c1616;
  --plasmic-token-danger-700: var(--token-UjEHM7YNCJtR);
  --token-SSDcucEhrEUp: #6b0707;
  --plasmic-token-danger-800: var(--token-SSDcucEhrEUp);
  --token-pvFfqMvtgTIF: #360202;
  --plasmic-token-danger-900: var(--token-pvFfqMvtgTIF);
  --token-oPt3DANjGcUp: #fdfdfd;
  --plasmic-token-neutral-0: var(--token-oPt3DANjGcUp);
  --token-1NcbSKRcxBEi: #fae2fca6;
  --plasmic-token-unnamed-style-token: var(--token-1NcbSKRcxBEi);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-Pcwg6X87Vcz-_font-family: "Inter", sans-serif;
  --mixin-Pcwg6X87Vcz-_font-size: 14px;
  --mixin-Pcwg6X87Vcz-_font-weight: 400;
  --mixin-Pcwg6X87Vcz-_font-style: normal;
  --mixin-Pcwg6X87Vcz-_color: var(--token-MvhYmHmpABn-);
  --mixin-Pcwg6X87Vcz-_text-align: left;
  --mixin-Pcwg6X87Vcz-_text-transform: none;
  --mixin-Pcwg6X87Vcz-_line-height: 21px;
  --mixin-Pcwg6X87Vcz-_letter-spacing: -0.6%;
  --mixin-Pcwg6X87Vcz-_white-space: pre-wrap;
  --mixin-Pcwg6X87Vcz-_user-select: text;
  --mixin-Pcwg6X87Vcz-_text-decoration-line: none;
  --mixin-Pcwg6X87Vcz-_text-overflow: clip;
  --mixin-yCFzQNwxRl6Q_color: var(--token-WWObjB2535KE);
  --mixin-yCFzQNwxRl6Q_font-weight: 600;
  --mixin-yCFzQNwxRl6Q_font-size: 26px;
  --mixin-yCFzQNwxRl6Q_line-height: 32px;
  --mixin-yCFzQNwxRl6Q_letter-spacing: -1%;
  --mixin-yCFzQNwxRl6Q_white-space: pre-wrap;
  --mixin-ZcDfUGkralX8_color: var(--token-WWObjB2535KE);
  --mixin-ZcDfUGkralX8_font-size: 23px;
  --mixin-ZcDfUGkralX8_font-weight: 700;
  --mixin-ZcDfUGkralX8_line-height: 28px;
  --mixin-ZcDfUGkralX8_font-family: "Inter", sans-serif;
  --mixin-ZcDfUGkralX8_letter-spacing: -1%;
  --mixin-ZcDfUGkralX8_white-space: pre-wrap;
  --mixin-3jEKub2iT03p_color: #0070f3;
  --mixin-3jEKub2iT03p_white-space: pre-wrap;
  --mixin-WtIKdxRXqHtH_color: var(--token-WWObjB2535KE);
  --mixin-WtIKdxRXqHtH_font-size: 20px;
  --mixin-WtIKdxRXqHtH_font-weight: 700;
  --mixin-WtIKdxRXqHtH_line-height: 24px;
  --mixin-WtIKdxRXqHtH_letter-spacing: -1%;
  --mixin-WtIKdxRXqHtH_font-family: "Inter", sans-serif;
  --mixin-WtIKdxRXqHtH_white-space: pre-wrap;
  --mixin-OQHeOGf6v_Kp_color: var(--token-WWObjB2535KE);
  --mixin-OQHeOGf6v_Kp_font-size: 18px;
  --mixin-OQHeOGf6v_Kp_font-weight: 700;
  --mixin-OQHeOGf6v_Kp_line-height: 24px;
  --mixin-OQHeOGf6v_Kp_letter-spacing: -1%;
  --mixin-OQHeOGf6v_Kp_font-family: "Inter", sans-serif;
  --mixin-OQHeOGf6v_Kp_white-space: pre-wrap;
  --mixin-7b5Ave6y2A-L_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-7b5Ave6y2A-L_border-bottom-color: #dddddd;
  --mixin-7b5Ave6y2A-L_border-bottom-style: solid;
  --mixin-7b5Ave6y2A-L_border-bottom-width: 1px;
  --mixin-7b5Ave6y2A-L_border-left-color: #dddddd;
  --mixin-7b5Ave6y2A-L_border-left-style: solid;
  --mixin-7b5Ave6y2A-L_border-left-width: 1px;
  --mixin-7b5Ave6y2A-L_border-right-color: #dddddd;
  --mixin-7b5Ave6y2A-L_border-right-style: solid;
  --mixin-7b5Ave6y2A-L_border-right-width: 1px;
  --mixin-7b5Ave6y2A-L_border-top-color: #dddddd;
  --mixin-7b5Ave6y2A-L_border-top-style: solid;
  --mixin-7b5Ave6y2A-L_border-top-width: 1px;
  --mixin-7b5Ave6y2A-L_border-bottom-left-radius: 3px;
  --mixin-7b5Ave6y2A-L_border-bottom-right-radius: 3px;
  --mixin-7b5Ave6y2A-L_border-top-left-radius: 3px;
  --mixin-7b5Ave6y2A-L_border-top-right-radius: 3px;
  --mixin-7b5Ave6y2A-L_font-family: "Inconsolata";
  --mixin-7b5Ave6y2A-L_padding-bottom: 1px;
  --mixin-7b5Ave6y2A-L_padding-left: 4px;
  --mixin-7b5Ave6y2A-L_padding-right: 4px;
  --mixin-7b5Ave6y2A-L_padding-top: 1px;
  --mixin-7b5Ave6y2A-L_white-space: pre-wrap;
  --mixin-FKSrOdYSVAII_border-left-color: #dddddd;
  --mixin-FKSrOdYSVAII_border-left-style: solid;
  --mixin-FKSrOdYSVAII_border-left-width: 3px;
  --mixin-FKSrOdYSVAII_color: #888888;
  --mixin-FKSrOdYSVAII_padding-left: 10px;
  --mixin-FKSrOdYSVAII_white-space: pre-wrap;
  --mixin-FOaAOfmB1H-7_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-FOaAOfmB1H-7_border-bottom-color: #dddddd;
  --mixin-FOaAOfmB1H-7_border-bottom-style: solid;
  --mixin-FOaAOfmB1H-7_border-bottom-width: 1px;
  --mixin-FOaAOfmB1H-7_border-left-color: #dddddd;
  --mixin-FOaAOfmB1H-7_border-left-style: solid;
  --mixin-FOaAOfmB1H-7_border-left-width: 1px;
  --mixin-FOaAOfmB1H-7_border-right-color: #dddddd;
  --mixin-FOaAOfmB1H-7_border-right-style: solid;
  --mixin-FOaAOfmB1H-7_border-right-width: 1px;
  --mixin-FOaAOfmB1H-7_border-top-color: #dddddd;
  --mixin-FOaAOfmB1H-7_border-top-style: solid;
  --mixin-FOaAOfmB1H-7_border-top-width: 1px;
  --mixin-FOaAOfmB1H-7_border-bottom-left-radius: 3px;
  --mixin-FOaAOfmB1H-7_border-bottom-right-radius: 3px;
  --mixin-FOaAOfmB1H-7_border-top-left-radius: 3px;
  --mixin-FOaAOfmB1H-7_border-top-right-radius: 3px;
  --mixin-FOaAOfmB1H-7_font-family: "Inconsolata";
  --mixin-FOaAOfmB1H-7_padding-bottom: 3px;
  --mixin-FOaAOfmB1H-7_padding-left: 6px;
  --mixin-FOaAOfmB1H-7_padding-right: 6px;
  --mixin-FOaAOfmB1H-7_padding-top: 3px;
  --mixin-FOaAOfmB1H-7_white-space: pre-wrap;
  --mixin-cXKO1MsEwT7a_display: flex;
  --mixin-cXKO1MsEwT7a_flex-direction: column;
  --mixin-cXKO1MsEwT7a_align-items: stretch;
  --mixin-cXKO1MsEwT7a_justify-content: flex-start;
  --mixin-cXKO1MsEwT7a_list-style-position: outside;
  --mixin-cXKO1MsEwT7a_padding-left: 40px;
  --mixin-cXKO1MsEwT7a_position: relative;
  --mixin-cXKO1MsEwT7a_list-style-type: disc;
  --mixin-cXKO1MsEwT7a_white-space: pre-wrap;
  --mixin-ixYQe-04wtWE_display: flex;
  --mixin-ixYQe-04wtWE_flex-direction: column;
  --mixin-ixYQe-04wtWE_align-items: stretch;
  --mixin-ixYQe-04wtWE_justify-content: flex-start;
  --mixin-ixYQe-04wtWE_list-style-position: outside;
  --mixin-ixYQe-04wtWE_padding-left: 40px;
  --mixin-ixYQe-04wtWE_position: relative;
  --mixin-ixYQe-04wtWE_list-style-type: decimal;
  --mixin-ixYQe-04wtWE_white-space: pre-wrap;
  --mixin-CQ1oQhziawBE_color: var(--token-QXx9krAX0EVB);
  --mixin-CQ1oQhziawBE_font-size: 16px;
  --mixin-CQ1oQhziawBE_font-weight: 600;
  --mixin-CQ1oQhziawBE_line-height: 20px;
  --mixin-CQ1oQhziawBE_letter-spacing: -1%;
  --mixin-CQ1oQhziawBE_font-family: "Inter", sans-serif;
  --mixin-CQ1oQhziawBE_white-space: pre-wrap;
  --mixin-GFBx3sne4BBk_color: var(--token-WWObjB2535KE);
  --mixin-GFBx3sne4BBk_font-size: 14px;
  --mixin-GFBx3sne4BBk_font-weight: 600;
  --mixin-GFBx3sne4BBk_line-height: 20px;
  --mixin-GFBx3sne4BBk_letter-spacing: 1%;
  --mixin-GFBx3sne4BBk_font-family: "Inter", sans-serif;
  --mixin-GFBx3sne4BBk_white-space: pre-wrap;
  --mixin-lIqbcnVSEQdt_color: #3291ff;
  --mixin-lIqbcnVSEQdt_white-space: pre-wrap;
  --mixin-PKUuNxva2ulG_white-space: pre-wrap;
  --mixin-pLNQxBiRiMMZ_color: var(--token-usgls6P0cWQ6);
  --mixin-pLNQxBiRiMMZ_font-family: "Inter", sans-serif;
  --mixin-pLNQxBiRiMMZ_font-weight: 500;
  --mixin-pLNQxBiRiMMZ_font-size: 16px;
  --mixin-pLNQxBiRiMMZ_line-height: 24px;
  --mixin-pLNQxBiRiMMZ_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-iI8Q4A4Zbupf_white-space: pre-wrap;
  --plasmic-mixin-label-m_white-space: var(--mixin-iI8Q4A4Zbupf_white-space);
  --mixin-FP-CzMxlc6Ci_white-space: pre-wrap;
  --plasmic-mixin-label-s_white-space: var(--mixin-FP-CzMxlc6Ci_white-space);
  --mixin-9SVIFHB_M999_box-shadow: 0px 12px 12px -6px #00000029,
    0px 0px 1px 0px #00000066;
  --plasmic-mixin-card-shadow_box-shadow: var(--mixin-9SVIFHB_M999_box-shadow);
  --mixin-9SVIFHB_M999_white-space: pre-wrap;
  --plasmic-mixin-card-shadow_white-space: var(
    --mixin-9SVIFHB_M999_white-space
  );
  --mixin-dus8rpdu-s5y_white-space: pre-wrap;
  --plasmic-mixin-label-l_white-space: var(--mixin-dus8rpdu-s5y_white-space);
  --mixin-vDKZ8irx6pQm_white-space: pre-wrap;
  --plasmic-mixin-l-heading_white-space: var(--mixin-vDKZ8irx6pQm_white-space);
  --mixin-JpyXb9lPLrg8_box-shadow: 0px 0px 4px 0px #0000001a,
    0px 4px 16px 0px #00000033;
  --plasmic-mixin-card-component-shadow_box-shadow: var(
    --mixin-JpyXb9lPLrg8_box-shadow
  );
  --mixin-JpyXb9lPLrg8_white-space: pre-wrap;
  --plasmic-mixin-card-component-shadow_white-space: var(
    --mixin-JpyXb9lPLrg8_white-space
  );
  --mixin-atUYflbHmL_o_white-space: pre-wrap;
  --plasmic-mixin-body_white-space: var(--mixin-atUYflbHmL_o_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-Pcwg6X87Vcz-_font-family);
  font-size: var(--mixin-Pcwg6X87Vcz-_font-size);
  font-weight: var(--mixin-Pcwg6X87Vcz-_font-weight);
  font-style: var(--mixin-Pcwg6X87Vcz-_font-style);
  color: var(--mixin-Pcwg6X87Vcz-_color);
  text-align: var(--mixin-Pcwg6X87Vcz-_text-align);
  text-transform: var(--mixin-Pcwg6X87Vcz-_text-transform);
  line-height: var(--mixin-Pcwg6X87Vcz-_line-height);
  letter-spacing: var(--mixin-Pcwg6X87Vcz-_letter-spacing);
  white-space: var(--mixin-Pcwg6X87Vcz-_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-yCFzQNwxRl6Q_color);
  font-weight: var(--mixin-yCFzQNwxRl6Q_font-weight);
  font-size: var(--mixin-yCFzQNwxRl6Q_font-size);
  line-height: var(--mixin-yCFzQNwxRl6Q_line-height);
  letter-spacing: var(--mixin-yCFzQNwxRl6Q_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-ZcDfUGkralX8_color);
  font-size: var(--mixin-ZcDfUGkralX8_font-size);
  font-weight: var(--mixin-ZcDfUGkralX8_font-weight);
  line-height: var(--mixin-ZcDfUGkralX8_line-height);
  font-family: var(--mixin-ZcDfUGkralX8_font-family);
  letter-spacing: var(--mixin-ZcDfUGkralX8_letter-spacing);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-3jEKub2iT03p_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-WtIKdxRXqHtH_color);
  font-size: var(--mixin-WtIKdxRXqHtH_font-size);
  font-weight: var(--mixin-WtIKdxRXqHtH_font-weight);
  line-height: var(--mixin-WtIKdxRXqHtH_line-height);
  letter-spacing: var(--mixin-WtIKdxRXqHtH_letter-spacing);
  font-family: var(--mixin-WtIKdxRXqHtH_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-OQHeOGf6v_Kp_color);
  font-size: var(--mixin-OQHeOGf6v_Kp_font-size);
  font-weight: var(--mixin-OQHeOGf6v_Kp_font-weight);
  line-height: var(--mixin-OQHeOGf6v_Kp_line-height);
  letter-spacing: var(--mixin-OQHeOGf6v_Kp_letter-spacing);
  font-family: var(--mixin-OQHeOGf6v_Kp_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-7b5Ave6y2A-L_font-family);
  border-radius: var(--mixin-7b5Ave6y2A-L_border-top-left-radius)
    var(--mixin-7b5Ave6y2A-L_border-top-right-radius)
    var(--mixin-7b5Ave6y2A-L_border-bottom-right-radius)
    var(--mixin-7b5Ave6y2A-L_border-bottom-left-radius);
  padding: var(--mixin-7b5Ave6y2A-L_padding-top)
    var(--mixin-7b5Ave6y2A-L_padding-right)
    var(--mixin-7b5Ave6y2A-L_padding-bottom)
    var(--mixin-7b5Ave6y2A-L_padding-left);
  border-top: var(--mixin-7b5Ave6y2A-L_border-top-width)
    var(--mixin-7b5Ave6y2A-L_border-top-style)
    var(--mixin-7b5Ave6y2A-L_border-top-color);
  border-right: var(--mixin-7b5Ave6y2A-L_border-right-width)
    var(--mixin-7b5Ave6y2A-L_border-right-style)
    var(--mixin-7b5Ave6y2A-L_border-right-color);
  border-bottom: var(--mixin-7b5Ave6y2A-L_border-bottom-width)
    var(--mixin-7b5Ave6y2A-L_border-bottom-style)
    var(--mixin-7b5Ave6y2A-L_border-bottom-color);
  border-left: var(--mixin-7b5Ave6y2A-L_border-left-width)
    var(--mixin-7b5Ave6y2A-L_border-left-style)
    var(--mixin-7b5Ave6y2A-L_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-FKSrOdYSVAII_color);
  padding-left: var(--mixin-FKSrOdYSVAII_padding-left);
  border-left: var(--mixin-FKSrOdYSVAII_border-left-width)
    var(--mixin-FKSrOdYSVAII_border-left-style)
    var(--mixin-FKSrOdYSVAII_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-FOaAOfmB1H-7_font-family);
  border-radius: var(--mixin-FOaAOfmB1H-7_border-top-left-radius)
    var(--mixin-FOaAOfmB1H-7_border-top-right-radius)
    var(--mixin-FOaAOfmB1H-7_border-bottom-right-radius)
    var(--mixin-FOaAOfmB1H-7_border-bottom-left-radius);
  padding: var(--mixin-FOaAOfmB1H-7_padding-top)
    var(--mixin-FOaAOfmB1H-7_padding-right)
    var(--mixin-FOaAOfmB1H-7_padding-bottom)
    var(--mixin-FOaAOfmB1H-7_padding-left);
  border-top: var(--mixin-FOaAOfmB1H-7_border-top-width)
    var(--mixin-FOaAOfmB1H-7_border-top-style)
    var(--mixin-FOaAOfmB1H-7_border-top-color);
  border-right: var(--mixin-FOaAOfmB1H-7_border-right-width)
    var(--mixin-FOaAOfmB1H-7_border-right-style)
    var(--mixin-FOaAOfmB1H-7_border-right-color);
  border-bottom: var(--mixin-FOaAOfmB1H-7_border-bottom-width)
    var(--mixin-FOaAOfmB1H-7_border-bottom-style)
    var(--mixin-FOaAOfmB1H-7_border-bottom-color);
  border-left: var(--mixin-FOaAOfmB1H-7_border-left-width)
    var(--mixin-FOaAOfmB1H-7_border-left-style)
    var(--mixin-FOaAOfmB1H-7_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-cXKO1MsEwT7a_display);
  flex-direction: var(--mixin-cXKO1MsEwT7a_flex-direction);
  align-items: var(--mixin-cXKO1MsEwT7a_align-items);
  justify-content: var(--mixin-cXKO1MsEwT7a_justify-content);
  list-style-position: var(--mixin-cXKO1MsEwT7a_list-style-position);
  padding-left: var(--mixin-cXKO1MsEwT7a_padding-left);
  position: var(--mixin-cXKO1MsEwT7a_position);
  list-style-type: var(--mixin-cXKO1MsEwT7a_list-style-type);
  flex-column-gap: var(--mixin-cXKO1MsEwT7a_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-ixYQe-04wtWE_display);
  flex-direction: var(--mixin-ixYQe-04wtWE_flex-direction);
  align-items: var(--mixin-ixYQe-04wtWE_align-items);
  justify-content: var(--mixin-ixYQe-04wtWE_justify-content);
  list-style-position: var(--mixin-ixYQe-04wtWE_list-style-position);
  padding-left: var(--mixin-ixYQe-04wtWE_padding-left);
  position: var(--mixin-ixYQe-04wtWE_position);
  list-style-type: var(--mixin-ixYQe-04wtWE_list-style-type);
  flex-column-gap: var(--mixin-ixYQe-04wtWE_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-CQ1oQhziawBE_color);
  font-size: var(--mixin-CQ1oQhziawBE_font-size);
  font-weight: var(--mixin-CQ1oQhziawBE_font-weight);
  line-height: var(--mixin-CQ1oQhziawBE_line-height);
  letter-spacing: var(--mixin-CQ1oQhziawBE_letter-spacing);
  font-family: var(--mixin-CQ1oQhziawBE_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-GFBx3sne4BBk_color);
  font-size: var(--mixin-GFBx3sne4BBk_font-size);
  font-weight: var(--mixin-GFBx3sne4BBk_font-weight);
  line-height: var(--mixin-GFBx3sne4BBk_line-height);
  letter-spacing: var(--mixin-GFBx3sne4BBk_letter-spacing);
  font-family: var(--mixin-GFBx3sne4BBk_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-lIqbcnVSEQdt_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
  color: var(--mixin-pLNQxBiRiMMZ_color);
  font-family: var(--mixin-pLNQxBiRiMMZ_font-family);
  font-weight: var(--mixin-pLNQxBiRiMMZ_font-weight);
  font-size: var(--mixin-pLNQxBiRiMMZ_font-size);
  line-height: var(--mixin-pLNQxBiRiMMZ_line-height);
}
